* {
    box-sizing: border-box;
    font-family: Arial;
}

h1 {
    font-size: 80px;
    color: azure;
    text-align: center;
}

body {
    margin-top: 30px;
    background-color: black;
}

nav {
    overflow: hidden;
    background-color: rgb(32, 4, 59);
    /*color: azure;
   text-transform: uppercase;
   height: 50px;*/
    border-bottom: 2px solid azure;
    position: fixed;
    top: 0;
    width: 100%;
}

a.icon_logo {
    width: 48px;
    height: 48px;
    background-image: url("images/PeePee.jpg");
    background-size: 48px;
    background-repeat: no-repeat;
}

.menu a.icon_logo:hover {
    background-size: 50px;
    background-color: none;
    background-image: url("images/PeePee.jpg");
    background-repeat: no-repeat;
}

.menu a {
    float: left;
    display: block;
    color: azure;
    text-align: center;
    padding: 14px 16px;
    justify-content: center;
    text-decoration: none;
    /*line-height: 50px;*/
}

.menu a:hover {
    background: rgb(97, 44, 146);
    color: white;
}

a.sign {
    float: right;
    display: block;
    color: azure;
    text-align: center;
    padding: 14px 16px;
    justify-content: center;
    text-decoration: none;
}

a.sign:hover {
    background: rgb(97, 44, 146);
    color: white;
}

.menu input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
}

.hp {
    display: flex;
    flex-direction: column;
    align-items: stretch;

}